numpy==2.1.1
opencv-python-headless==4.10.0.84
cairosvg==2.7.1

trimesh==4.4.3
pyrender==0.1.45
pyglet==1.5.27

python-multipart>=0.0.18

# conversione PDF/PNG senza libcairo (fallback)
svglib
reportlab
pypdfium2
